<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Inventory Reorder Report</title>
</head>
<body>
	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<h1>Inventory Reorder Report from ${reorder.supplier.id}</h1>
	<h3>Date range selected: ${datefrom} to ${dateto}</h3>
	<p>Boss SR takes over</p>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>