<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<title>Reorder Page</title>
</head>
<body>
	<header th:insert="layout/layout.html :: header"></header>
	<div th:replace="layout/layout.html :: menu"></div>
	<h1>Manage Orders</h1>

	<table class="table table-hover">
		<thead>

			<tr>
				<td>
					Date From: To:
				</td>
				<td><a href="http://localhost:8080/reorder/reorderreport">Generate Reorder Report</a></td>
				<td><label for="pages">Record per page: </label>
					<select name="pages" id="pages">
					  <option value="1">1</option>
					  <option value="2">2</option>
					  <option value="3">3</option>
					  <option value="4">4</option>
					</select>
				</td>
			</tr>

			<tr>
				<th>ORDER ID</th>
				<th>NAME</th>
				<th>UNIT PRICE</th>
				<th>QTY</th>
				<th>REORDER QTY</th>
				<th>MIN ORDER QTY</th>
				<th>LAST REORDER DATE</th>
				<th>ORDER STATUS</th>
				<th></th>
			</tr>
		</thead>

		<tr th:each="reorder: ${rlist}">
			<td th:text="${reorder.id}">Default</td>
			<td th:text="${reorder.name}">Default</td>
			<td th:text="${reorder.product.originalPrice}">Default</td>
			<td th:text="${reorder.quantity}">Default</td>
			<td th:text="${reorder.reorderQty}">Default</td>
			<td th:text="${reorder.product.MOQ}">Default</td>
			<td th:text="${reorder.lastReorderDate}">Default</td>
			<td th:text="${reorder.orderStatus}">Default</td>
			<td>
				<div th:if="${reorder.orderStatus.name() == 'PENDINGORDER'}">
					<a href="http://localhost:8080/reorder/reorderform">Reorder
						Form</a>
				</div>
				<div th:if="${reorder.orderStatus.name() == 'ORDERED'}">
					<a href="http://localhost:8080/reorder/vieworder">View Order</a>
				</div>
				<div th:if="${reorder.orderStatus.name() == 'RECEIVED'}">
					<a href="http://localhost:8080/reorder/vieworder">View Order</a>
				</div>
				<div th:if="${reorder.orderStatus.name() == 'ADDEDTOINVENTORY'}">
					<a href="http://localhost:8080/reorder/vieworder">View Order</a>
				</div>
			</td>
			<td>
				<div th:if="${reorder.orderStatus.name() == 'PENDINGORDER'}"></div>
				<div th:if="${reorder.orderStatus.name() == 'ORDERED'}"></div>
				<div th:if="${reorder.orderStatus.name() == 'RECEIVED'}">
					<a href="http://localhost:8080/reorder/editseform">Edit SE Form</a>
				</div>
				<div th:if="${reorder.orderStatus.name() == 'ADDEDTOINVENTORY'}">
					<a href="http://localhost:8080/reorder/viewseform">View SE Form</a>
				</div>
			</td>
		</tr>

	</table>
	<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>