<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Reorder Page</title>
</head>
<body>
  <header th:insert="layout/layout.html :: header"></header>
  <div th:replace="layout/layout.html :: menu" ></div>
  <h1>Listing</h1>
  <table> 
 <tr>
   <th>ORDER ID</th>
   <th>NAME</th>
   <th>UNIT PRICE</th>
   <th>QTY</th>
   <th>REORDER QTY</th>
   <th>MIN ORDER QTY</th>
   <th>LAST REORDER DATE</th>
   <th>ORDER STATUS</th>
   
 </tr>
 <tr th:each="reorder:${rlist}">
   <td th:text="${reorder.id}">Default</td> 
   <td th:text="${reorder.name}">Default</td>
   <td th:text="${reorder.product.originalPrice}">Default</td>
   <td th:text="${reorder.quantity}">Default</td>
   <td th:text="${reorder.reorderQty}">Default</td>
   <td th:text="${reorder.product.MOQ">Default</td>
   <td th:text="${reorder.lastReorderDate}">Default</td>
   <td th:text="${reorder.orderStatus}">Default</td>
 </tr>
</table>
  <div th:replace="layout/layout.html :: footer"></div>
</body>
</html>